<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-pharm.js"></script>

    <title>REPORT</title>
  </head>
  <body>

  </body>
</html>
